<!--  footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-4 contact-left">

            <h4>Address</h4>
            <address>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P :</abbr> (123) 456-7890
            </address>
        </div>
        <div class="col-md-4 contact-left">

            <h4>Phone/Fax</h4>
            <p>Phone : +1234567890 </p>
            <p>Phone : +1234567890 </p>
            <p>Fax : +1234567890 </p>
        </div>
        <div class="col-md-4 contact-left">

            <h4>Email</h4>
            <p>Email-1 : <a href="mailto:info@example.com">info@mycompany.com</a> </p>
            <p>Emai-2 : <a href="mailto:info@example.com">info@mycompany.com</a> </p>
            <p>Email-3 : <a href="mailto:info@example.com">info@mycompany.com</a> </p>
        </div>
        <div class="clearfix"></div>

        <div class="copyright">
            <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>

        </div>
    </div>
</div>
<!--  footer -->