
<!--header-->
<%-include publicview/header.ejs%>
<div class="header_nav" id="home">
    <div class="container">
        <nav class="navbar navbar-default chn-gd">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-home " aria-hidden="true"></span>
                            首 页
                        </a>
                    </li>
                    <!---->
                    <li>
                        <a href="/services">
                            <span class="glyphicon glyphicon-cog " aria-hidden="true"></span>
                            服 务
                        </a>
                    </li>
                    <!---->
                    <li class="active">
                        <a href="/about">
                            <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                            关于我们
                        </a>
                    </li>
                    <!---->
                    <li>
                        <a href="/projects">
                            <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
                            成功案例
                        </a>
                    </li>
                    <!---->
                    <!--<li>-->
                        <!--<a href="shortcodes.html">-->
                            <!--<span class="glyphicon glyphicon-picture " aria-hidden="true"></span>-->
                            <!--Short Codes-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="las">
                        <a href="/contact">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            联系我们
                        </a>
                    </li>
                    <div class="clearfix"></div>
                    <!--script-->
                    <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $(".scroll").click(function (event) {
                                event.preventDefault();
                                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
                            });
                        });
                    </script>
                    <!--script-->
                </ul>
                <!-- /.navbar-collapse -->
                <div class="clearfix"></div>
                <!-- /.container-fluid -->
        </nav>
    </div>
</div>
</div>
<!-- banner -->
<div class="banner-1">

</div>
<!-- banner -->
<div class="about">
    <div class="container">
        <div class="col-md-4 about-left">
            <h3>About Us</h3>
            <img src="images/58.jpg" alt=" " class="img-responsive">
            <h5>Suffered alteration in some form, by injected humour, or randomised</h5>
            <p>Lorem Ipsum available, but the have suffered alteration in some form, by injected humour, or randomised
                words which don't look. </p>
        </div>
        <div class="col-md-4 about-left">
            <h3>Our Mission</h3>
            <p><span class="bec">1 . </span>Lorem Ipsum available, but the have suffered alteration in some form, by
                injected humour, or randomised words which don't look. </p>
            <p><span class="bec">2 . </span>Lorem Ipsum available, but the have suffered alteration in some form, by
                injected humour, or randomised words which don't look. </p>
            <p><span class="bec">3 . </span>Lorem Ipsum available, but the have suffered alteration in some form, by
                injected humour, or randomised words which don't look. </p>
            <p><span class="bec">4 . </span>Lorem Ipsum available, but the have suffered alteration in some form, by
                injected humour, or randomised words which don't look. </p>
        </div>
        <div class="col-md-4 about-left">
            <h3>Staff</h3>
            <ul>
                <li><img src="images/54.jpg" alt=" " class="img-responsive"></li>
                <li><img src="images/55.jpg" alt=" " class="img-responsive"></li>
                <li><img src="images/56.jpg" alt=" " class="img-responsive"></li>
                <li><img src="images/57.jpg" alt=" " class="img-responsive"></li>
                <li><img src="images/55.jpg" alt=" " class="img-responsive"></li>
                <li><img src="images/54.jpg" alt=" " class="img-responsive"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="testimonials">
            <h3>Testimonials</h3>
            <div class="col-md-4 testimonials-left">
                <p>Lorem Ipsum available, but the have suffered alteration in some form, by injected humour, or
                    randomised words which don't look. </p>
                <h6><a href="#">Monty</a></h6>
            </div>
            <div class="col-md-4 testimonials-left">
                <p>Lorem Ipsum available, but the have suffered alteration in some form, by injected humour, or
                    randomised words which don't look. </p>
                <h6><a href="#">Johnson</a></h6>
            </div>
            <div class="col-md-4 testimonials-left">
                <p>Lorem Ipsum available, but the have suffered alteration in some form, by injected humour, or
                    randomised words which don't look. </p>
                <h6><a href="#">Kromstain</a></h6>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--footer-->
<%- include publicview/footer.ejs %>
</body>
</html>