
<!--header-->
<%-include publicview/header.ejs%>
<div class="header_nav" id="home">
    <div class="container">
        <nav class="navbar navbar-default chn-gd">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-home " aria-hidden="true"></span>
                            首 页
                        </a>
                    </li>
                    <!---->
                    <li>
                        <a href="/services">
                            <span class="glyphicon glyphicon-cog " aria-hidden="true"></span>
                            服 务
                        </a>
                    </li>
                    <!---->
                    <li>
                        <a href="/about">
                            <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                            关于我们
                        </a>
                    </li>
                    <!---->
                    <li>
                        <a href="/projects">
                            <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
                            成功案例
                        </a>
                    </li>
                    <!---->
                    <!--<li>	-->
                    <!--<a href="shortcodes.html">-->
                    <!--<span class="glyphicon glyphicon-picture " aria-hidden="true"></span>-->
                    <!--Short Codes-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="active las">
                        <a href="/contact">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            联系我们
                        </a>
                    </li>
                    <div class="clearfix"></div>
                    <!--script-->
                    <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $(".scroll").click(function (event) {
                                event.preventDefault();
                                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
                            });
                        });
                    </script>
                    <!--script-->
                </ul>
                <!-- /.navbar-collapse -->
                <div class="clearfix"></div>
                <!-- /.container-fluid -->
        </nav>
    </div>
</div>
</div>
<!-- banner -->
<div class="banner-1">

</div>
<!-- banner -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <h3>Contact</h3>
        <div class=" map">
            <iframe src="/baidumap" allowfullscreen=""></iframe>
        </div>
        <div class="contact-grids">
            <div class="contact-form">
                <form>
                    <div class="contact-bottom">
                        <div class="col-md-4 in-contact">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-md-4 in-contact">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="col-md-4 in-contact">
                            <input type="text" placeholder="Phonenumber">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="contact-bottom-top">
                        <textarea placeholder="Message" required=""></textarea>
                    </div>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="address">
                <div class=" address-more">
                    <h3>Address</h3>
                    <div class="col-md-4 address-grid">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <div class="address1">
                            <p>Lorem ipsum dolor</p>
                            <p>TL 19034-88974</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 address-grid ">
                        <i class="glyphicon glyphicon-phone"></i>
                        <div class="address1">
                            <p>+885699655</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 address-grid ">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div class="address1">
                            <p><a href="mailto:info@example.com">info@mycompany.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact -->
<!--footer-->
<%- include publicview/footer.ejs %>
</body>
</html>
